nav a {
  color: #666363;
}

/*-----------------------INTRO------------------------*/
.about-title {
  padding-bottom: 4%;
}
.about-title h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
  position: relative;
}
.about-title h3 {
  position: absolute;
  margin-top: -35px;
  font-size: 28px;
}
.about-title h3::after {
  display: block;
  content: '';
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
  width: 50%;
}

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}
.accordion-item-content,
.accordion:hover .accordion-item-content {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.accordion {
  width: 100%;
  padding: 8% 8% 4% 8%;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
}
.accordion .accordion-item {
  background-color: #ffffff;
  padding: 20px 20px 20px 0;
  width: 100%;
  text-align: left;
  transition: 0.4s;
  border-bottom: 4px solid #DADADA;
}
.accordion-title h1 {
  color: #000000;
  font-weight: lighter;
  font-size: 24px;
}

.accordion-title .arrow {
  border: solid #FFCF26;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transition: 0.25s;
}
.accordion-title .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.accordion-title .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.accordion-title span {
  position: absolute;
  right: 8%;
  color: #ffffff;
  background: #FFCF26;
  text-decoration: none;
  padding: 0.2% 0.75%;
  border-radius: 100px;
}

.accordion-item-content p{
  margin: 2% 2% 0 0;
  color: #666363;
}

/*----------------------TEAM------------------------*/



/*----------------------PARTNERS------------------------*/
.partners-title {
  margin: 8% 0 4% 8%;
}
.partners-title h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
  position: relative;
}
.partners-title h3 {
  position: absolute;
  margin-top: -35px;
  font-size: 28px;
}
.partners-title h3::after {
  display: block;
  content: '';
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
  width: 50%;
}

.partners-container{
  display: flex;
  justify-content: center;
  padding: 2% 6%;
  transition: 0.5s;
}
.partner{
  margin: 1%;
  text-align: center;
  padding: 2%;
  width: 100%;
  transition: 0.5s;
}
.partner:hover{
  width: 300%;
  transition: 0.5s;
  background: #FFFFFF;
  box-shadow: 2px 2px 20px rgba(174, 174, 192, 0.4);
  border-radius: 16px;
  margin-top: -2.5%;
}
.partner img{
  max-width: 75px;
  display: block;
  margin: 2% auto;
}
.partner h3{
  font-size: 1em;
}
.partner-content{
  display: none;
}
.partner:hover  .partner-content{
  display: block;
}
.partner-content p{
  color: #666363;
  margin-top: 1.5%;
}


/*--------------SLIDER-LOGOS--------------*/
.slider-logos{
  margin-top: 6%;
  width: 100vw;
  height: 300px;
  border-top: 2px solid #DADADA;
  border-bottom: 2px solid #DADADA;
}
