nav a {
  color:#666363;
}

/*----------------------INTRO------------------------*/
#intro {
  padding-bottom: 8%;
}
.code-title{
  padding: 8% 0 0 8%;
}
.code-title h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
  position: relative;
}
.code-title h3 {
  position: absolute;
  margin-top: -35px;
  font-size: 28px;
}
.code-title h3::after {
  display: block;
  content: '';
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
  width: 50%;
}
.code-info{
  padding: 4% 8% 0 8%;
  display: flex;
  margin: -4% auto;
  align-items:center;
  justify-content:center;
}
.code-info img{
  width: 40%;
  height: 40%;
}
.code-info p{
  color: #666363;
}
.code-top p{
  margin-right: 8%;
}
.code-bottom p{
  margin-left: 8%;
}

/*----------------------VIDEO------------------------*/
#code-video {
  height: 600px;
}

.container-video {
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #EBEBEB;
  text-align: center;
}

.container-video video {
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
}


/*----------------------EXAMPLES------------------------*/
#examples {
  height: 600px;
}
.ex-title{
  padding: 8% 0 0 8%;
}
.ex-title h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
  position: relative;
}
.ex-title h3 {
  position: absolute;
  margin-top: -35px;
  font-size: 28px;
}
.ex-title h3::after {
  display: block;
  content: '';
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
  width: 50%;
}