nav a {
  color: #666363;
}

* {
  font-family: Poppins;
}

/*----------------------INTRO------------------------*/
#cb-header {
  height: 850px;
}

.cb-title {
  padding-top: 130px;
}

.cb-title h1 {
  padding-left: 80px;
  position: absolute;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 70px;
  line-height: 95px;
  margin-top: -30px;
  color: rgba(0, 0, 0, 0.06);
}

.cb-title h3::after {
  display: block;
  content: '';
  width: 8%;
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
}

.cb-title h3 {
  padding-left: 80px;
  font-weight: bold;
  font-size: 50px;
  line-height: 87px;
}

.cb-title img {
  padding-top: 40px;
  width: 1000px;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 700px) {
  .cb-title {
    padding-top: 80px;
    padding-left: 40px;
  }

  .cb-title h1 {
    font-size: 32px;
    margin-top: -15px;
  }

  .cb-title h3 {
    font-size: 20px;
  }
}

/*----------------------QUESTS------------------------*/
#quest1 {
  height: 500px;
  text-align: center;
}

#quest1 h2 {
  margin-top: 80px;
  font-size: 4em;
  color: #666363;
}

/*----------------------SCROLLMAGIC------------------------*/



/*----------------------INFO------------------------*/
#reveal1 {
  height: 600px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

#reveal1 p {}
