nav a {
  color: #666363;
}
/*-----------------------HOME------------------------*/
#home {
  height: 680px;
  cursor: none;
}

#home .home_title {
  position: absolute;
  margin-left: 5%;
  top: 10%;
}

.home_title h1 {
  font-weight: bold;
  font-size: 144px;
  line-height: 140px;
  color: #1f1f1f;
}

.cases {
  cursor: pointer;
  position: absolute;
  top: 18%;
  right: 2%;
}

.cases ul {
  list-style: none;
  text-align: right;
}

.cases a {
  font-size: 20px;
  border-bottom: 1px solid #FFCF26;
  color: #1f1f1f;
  font-weight: lighter;
}

.cases a:hover {
  color: #666363;
}

.full-size {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

.blend-screen {
  mix-blend-mode: screen;
}

/*--------------CASE 1---------------*/
.mask-bg-color1 {
  background-image: url(../img/normal.png);
  background-position: right;
  background-size: cover;
}

/*--------------CASE 2---------------*/
.mask-bg-color2 {
  background-image: url(../img/protanopia.png);
  background-position: center;
  background-size: cover;
}

/*--------------CASE 3---------------*/
.mask-bg-color3 {
  background-image: url(../img/tritanopia.png);
  background-position: center;
  background-size: cover;
}

.animated-bg {
  background-image: url(../img/normal.png);
  background-position: right;
  background-size: cover;
}

.element-mask {
  background-color: #fff;
}

.circle {
  position: absolute;
  overflow: hidden;
  background-color: #000000;
  width: 320px;
  height: 320px;
  top: calc(50% - 160px);
  left: calc(50% - 160px);
  -webkit-border-radius: 160px;
  border-radius: 160px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
}

@media screen and (max-width: 980px) {
  #home .home_title {
    bottom: 15%;
  }
  .home_title h3 {
    font-size: 4em;
  }

  .cases a {
    display: none;
  }

  .mask-bg-color1 {
    display: none;
  }

  .mask-bg-color2 {
    display: none;
  }

  .mask-bg-color3 {
    display: none;
  }

  .animated-bg {
    display: none;
  }

  .element-mask {
    display: none;
  }

  .circle {
    display: none;
  }

  #home {
    background-image: url(../img/normal.png);
    background-position: right;
    background-size: cover;
    cursor: normal;
  }
}

@media screen and (max-width: 530px) {
  #home{
    height: 600px;
  }
  .home_title h3 {
    font-size: 2em;
  }
}

/*-----------------------INTRO------------------------*/
#intro {
  height: auto;
  padding: 3% 0 4% 0;
}

#intro .intro_container {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

#intro .intro_vid {
  padding-left: 2%;
}

#intro .intro_text {
  width: 50%;
  padding: 0 5%;
}

.intro_text h1 {
  position: absolute;
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
}

.intro_text h3::after {
  display: block;
  content: '';
  width: 20%;
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
}

.intro_text h3 {
  margin-top: 30px;
  font-size: 28px;
}

.intro_text p {
  margin-top: 5%;
  font-weight: lighter;
  color: #666363;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 530px) {
}

/*-----------------------ABOUT------------------------*/
#about{
  background-color: #F9F9F9;
}
.about-info {
  padding: 4% 8%;
  color: #666363;
}
.about-info a{
  text-decoration: none;
  font-weight: 600;
  color: #FFCF26;
}
.about-info a:hover{
  opacity: 0.75;
}

/*-----------------------COLORBLINDNESS------------------------*/
#colorbindness{

}
.cb-container{
  display: flex;
}
.cb-info{
  padding: 10% 8% 12% 8%;
  margin-right: 40%;
}
.cb-info .cb-title{
  position: absolute;
}
.cb-info .cb-title h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
  position: relative;
}
.cb-info .cb-title h3 {
  position: absolute;
  margin-top: -35px;
  font-size: 28px;
}
.cb-info .cb-title h3::after {
  display: block;
  content: '';
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
  width: 50%;
}
.cb-info p{
  color: #666363;
  margin-top: 20%;
}
.cb-info a{
  text-decoration: none;
  font-weight: 600;
  color: #FFCF26;
}
.cb-info a:hover{
  opacity: 0.75;
}

.cb-container img{
  position: absolute;
  z-index: -1;
  width: 320px;
  right: 10%;
  margin-top: 5%;
  filter: drop-shadow(-5px -4px 20px rgba(0, 0, 0, 0.2));
}

.cb-numbers{
  z-index: 1;
  background-color:#F9F9F9;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4% 8%;
}
.cb-numbers .cb-number{
  width: 100%;
  margin: 0 4%;
}
.cb-numbers .cb-number h2{
  font-weight: 800;
  color: #FFCF26;
  font-size: 3em;
}
.cb-numbers .cb-number p{
  color: #666363;
}


/*-----------------------CODE------------------------*/
#code{
}

.code-container{
  padding: 4% 8%;
}

.code-container .code-title{
  position: absolute;
}
.code-container .code-title h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
  position: relative;
}
.code-container .code-title h3 {
  position: absolute;
  margin-top: -35px;
  font-size: 28px;
}
.code-container .code-title h3::after {
  display: block;
  content: '';
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
  width: 50%;
}

.code-container .code-icons{
  margin-top: 4%;
  display: flex; 
  justify-content: center;;
}
.code-container .code-icons img{
  width: 12%;
  margin: 0 2%;
}
.code-container p{
  color: #666363;
}